<div id="<%= dom_id alton %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= alton.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data:</strong>
    <%= alton.data %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Car:</strong>
    <%= alton.car %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= alton.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this alton", alton, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this alton', edit_alton_path(alton), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
